<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="user">
                        <form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.NO_CHANGES' | translate }}
                            </kt-alert>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.USERNAME' | translate }}" formControlName="username" />
                                            <mat-error>
                                                <span *ngIf="userForm.controls['username'].hasError('required')">
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong></span>
                                                <span *ngIf="userForm.controls['username'].hasError('whitespace') || userForm.controls['username'].hasError('pattern')">{{ 'COMMON.ERRORS.USERNAME_FORMAT' | translate }}
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="email" matInput placeholder="{{ 'COMMON.FIELDS.EMAIL' | translate }}" formControlName="email" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowser($event)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                            <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                        </a>
                                        <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="img" id="img" (change)="readFile($event)" />
                                        <div class="image-preview new d-inline-block" *ngIf="previewUrl">
                                            <img [src]="previewUrl" width="100" />
                                            <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrl()">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                        </div>
                                        <div class="image-preview  d-inline-block" *ngIf="!previewUrl && user.lang_player_info && user.lang_player_info && user.lang_player_info.img">
                                            <img [src]="baseUrl+'/'+user.lang_player_info.img" width="100" />
                                            <a href="javascript:;" class="btn-delete-img" (click)="deleteImg()">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                        </div>
                                        <span *ngIf="!previewUrl && (!user.lang_player_info || !user.lang_player_info || !user.lang_player_info.img)">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.NAME' | translate }}" formControlName="name" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.LASTNAME1' | translate }}" formControlName="last_name1" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'COMMON.FIELDS.SEX' | translate }}" formControlName="sex" [(value)]="currentSexId">
                                                <mat-option [value]="0">{{ 'COMMON.FIELDS.SEX_MAN' | translate }}</mat-option>
                                                <mat-option [value]="1">{{ 'COMMON.FIELDS.SEX_WOMAN' | translate }}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.RANKING' | translate }}" formControlName="ranking" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.BEST_RANKING' | translate }}" formControlName="best_ranking" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <!--input matInput placeholder="{{ 'COMMON.FIELDS.DATE_BEST_RANKING' | translate }}" formControlName="date_best_ranking" /-->
                                            <input matInput [matDatepicker]="picker_date_best_ranking" placeholder="{{ 'COMMON.FIELDS.DATE_BEST_RANKING' | translate }}" formControlName="date_best_ranking" [(value)]="currentDateBestRanking">
                                            <mat-datepicker-toggle matSuffix [for]="picker_date_best_ranking"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_date_best_ranking></mat-datepicker>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.RANKING_DOUBLES' | translate }}" formControlName="ranking_doubles" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.BEST_RANKING_DOUBLES' | translate }}" formControlName="best_ranking_doubles" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <!--input matInput placeholder="{{ 'COMMON.FIELDS.DATE_BEST_RANKING_DOUBLES' | translate }}" formControlName="date_best_ranking" /-->
                                            <input matInput [matDatepicker]="picker_date_best_ranking_doubles" placeholder="{{ 'COMMON.FIELDS.DATE_BEST_RANKING' | translate }}" formControlName="date_best_ranking_doubles" [(value)]="currentDateBestRankingDoubles">
                                            <mat-datepicker-toggle matSuffix [for]="picker_date_best_ranking_doubles"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_date_best_ranking_doubles></mat-datepicker>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput type="number" min="10" max="100" placeholder="{{ 'COMMON.FIELDS.AGE' | translate }}" formControlName="age" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput maxlength="4" type="number" placeholder="{{ 'COMMON.FIELDS.BIRTHDAY_YEAR' | translate }}" formControlName="birthday_year" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput type="number" min="10" max="100" placeholder="{{ 'COMMON.FIELDS.AGE_DEBUT' | translate }}" formControlName="age_debut" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'COMMON.FIELDS.PLAY' | translate }}" formControlName="play" [(value)]="currentPlayId">
                                                <mat-option [value]="0">{{ 'COMMON.FIELDS.PLAY_RIGHT' | translate }}</mat-option>
                                                <mat-option [value]="1">{{ 'COMMON.FIELDS.PLAY_LEFT' | translate }}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'COMMON.FIELDS.SURFACE' | translate }}" formControlName="surface" [(value)]="currentSurfaceId">
                                                <mat-option *ngFor="let s of allSurfaces" [value]="s.id">{{s.lang_info_array.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>

            </mat-tab>
            <!--mat-tab *ngIf="user" [disabled]="!user || !user.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-unlock"></i> User roles
                </ng-template>
                <ng-template matTabContent>
                    <kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list>
                </ng-template>
            </mat-tab-->
            <mat-tab *ngIf="user && user.id" [disabled]="!user || !user.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-exchange-alt"></i> {{ 'COMMON.TABS.CHANGE_PASSWORD' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <kt-change-password [userId]="user.id"></kt-change-password>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>