<div class="row">
    <div class="col-xl-6">

    </div>
    <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Order Statistics'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-widget12></kt-widget12>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>


<kt-portlet>
    <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <div class="row row-no-padding row-col-separator-xl">
            <div class="col-xl-4">
                <kt-widget1></kt-widget1>
            </div>
            <div class="col-xl-4">
                <kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>
            </div>
            <div class="col-xl-4">
                <kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>


<div class="row">
    <div class="col-xl-4">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Download Files'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-widget4 [data]="widget4_1">
                    <ng-template #actionTemplate let-item="item">
                        <div class="kt-widget4__tools">
                            <a href="javascript:;" class="btn btn-clean btn-icon btn-sm">
                                <i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
                            </a>
                        </div>
                    </ng-template>
                </kt-widget4>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-xl-4">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'New Users'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-widget4 [data]="widget4_2">
                    <ng-template #actionTemplate let-item="item">
                        <a href="javascript:;" class="btn btn-sm" [ngClass]="item.buttonClass">Follow</a>
                    </ng-template>
                </kt-widget4>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-xl-4">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Latest Updates'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-widget4 [data]="widget4_3">
                    <ng-template #actionTemplate let-item="item">
                        <span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>
                    </ng-template>
                </kt-widget4>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>



<div class="row">
    <div class="col-xl-8">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Best Sellers'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-widget5></kt-widget5>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-xl-4">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Recent Activities'">
                <ng-container ktPortletTools>
                    <kt-context-menu2></kt-context-menu2>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <kt-timeline2></kt-timeline2>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>


<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->