<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="newInfo">
                        <form [formGroup]="newInfoForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first">
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput [matDatepicker]="picker_date" placeholder="{{ 'COMMON.FIELDS.DATE_PUBLICATION' | translate }}" formControlName="date_publication" [(value)]="newDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker_date"></mat-datepicker-toggle>
                                        <mat-datepicker #picker_date></mat-datepicker>
                                        <mat-error>
                                            <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <ng-container *ngFor="let lang_item of currentLangs">
                                    <div class="kt-form__heading mt-3">
                                        <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                                    </div>
                                    <div class="form-group kt-form__group row">
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput placeholder="{{ 'COMMON.FIELDS.TITLE' | translate }}" formControlName="title_{{lang_item.key}}" />
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput placeholder="{{ 'COMMON.FIELDS.SUBTITLE' | translate }}" formControlName="subtitle_{{lang_item.key}}" />
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                            <label>{{ 'COMMON.FIELDS.TEXT' | translate }}</label>
                                            <angular-editor [placeholder]="'Enter text here...'" id="text_{{lang_item.key}}" formControlName="text_{{lang_item.key}}"></angular-editor>
                                            <span class="mat-error" *ngIf="newInfoForm.controls['text_'+lang_item.key].hasError('required')">{{ 'COMMON.ERRORS.REQUIRED' | translate }}</span>
                                            <!-- <mat-form-field class="mat-form-field-fluid">
                                                <textarea matInput placeholder="{{ 'COMMON.FIELDS.TEXT' | translate }}"></textarea>
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field> -->
                                        </div>
                                        <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowser($event, lang_item.key)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                            </a>
                                            <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="img_{{lang_item.key}}" id="img_{{lang_item.key}}" #img (change)="readFile($event, lang_item.key)" />
                                            <div class="image-preview new d-inline-block" *ngIf="previewUrl[lang_item.key]">
                                                <img [src]="previewUrl[lang_item.key]" width="300" />
                                                <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrl(lang_item.key)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                            </div>
                                            <div class="image-preview  d-inline-block" *ngIf="!previewUrl && newInfo.lang_info_array && newInfo.lang_info_array[lang_item.key] && newInfo.lang_info_array[lang_item.key].img">
                                                <img [src]="baseUrl+'/'+newInfo.lang_info_array[lang_item.key].img" width="300" />
                                                <a href="javascript:;" class="btn-delete-img" (click)="deleteImg(lang_item.key)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                            </div>
                                            <span *ngIf="!previewUrl[lang_item.key] && (!newInfo.lang_info_array || !newInfo.lang_info_array[lang_item.key] || !newInfo.lang_info_array[lang_item.key].img)">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span>

                                        </div> -->
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="newInfo" [disabled]="!newInfo || !newInfo.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fab fa-youtube"></i> {{ 'COMMON.TABS.VIDEOS' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <div *ngIf="newInfo.video_info">
                        <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="createVideo()" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.ADD' | translate }}">
                            <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.ADD' | translate }}</span>
                        </a>
                        
                        <ng-container *ngFor="let videoInfo of newInfo.video_info; let i = index">

                            <form [formGroup]="newVideosForm[videoInfo.id]" class="kt-form kt-form--group-seperator-dashed">
                                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                    {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                                </kt-alert>

                                <div class="kt-form__section kt-form__section--first">
                                    <div class="form-group kt-form__group row">
                                        <div class="col-12">
                                            <div class="kt-form__heading mt-3">
                                                <h3 class="kt-form__heading-title">{{ 'NEW_VIDEO_MANAGEMENT.ENTITY' | translate }} {{videoInfo.id}}:</h3>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let lang_item of currentLangs">
                                            <!-- <div class="kt-form__heading mt-3">
                                            <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                                        </div> -->
                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <input matInput placeholder="{{ 'COMMON.FIELDS.TITLE' | translate }} {{lang_item.name}}" formControlName="title_{{lang_item.key}}" />
                                                    <mat-error>
                                                        <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                                <!-- </div>
                                            <div class="col-lg-4 kt-margin-bottom-20-mobile"> -->
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <input matInput placeholder="{{ 'COMMON.FIELDS.URL' | translate }} {{lang_item.name}}" formControlName="src_{{lang_item.key}}" />
                                                    <mat-error>
                                                        <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <input matInput type="number" placeholder="{{ 'COMMON.FIELDS.ORDER' | translate }} {{lang_item.name}}" formControlName="order_position_{{lang_item.key}}" />
                                                    <mat-error>
                                                        <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </ng-container>
                                        <a href="javascript:;" class="btn-delete-element" (click)="deleteElementVideo(i, videoInfo.id)"><i class="la la-close"></i> {{'COMMON.BUTTONS.DELETE_ELEMENT' | translate}}</a>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="newInfo" [disabled]="!newInfo || !newInfo.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fas fa-images"></i> {{ 'COMMON.TABS.IMGS' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <div *ngIf="newInfo.img_info">
                        <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="createImage()" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.ADD' | translate }}">
                            <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.ADD' | translate }}</span>
                        </a>
                        
                        <ng-container *ngFor="let imgInfo of newInfo.img_info; let i = index">

                            <form [formGroup]="newImgsForm[imgInfo.id]" class="kt-form kt-form--group-seperator-dashed">
                                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                    {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                                </kt-alert>

                                <div class="kt-form__section kt-form__section--first">
                                    <div class="form-group kt-form__group row">
                                        <div class="col-12">
                                            <div class="kt-form__heading mt-3">
                                                <h3 class="kt-form__heading-title">{{ 'NEW_IMAGE_MANAGEMENT.ENTITY' | translate }} {{imgInfo.id}}:</h3>
                                            </div>
                                        </div>
                                        <div class="col-12 content-checkbox">
                                            <div class="form-group">
                                                <mat-checkbox formControlName="featured">
                                                    {{ 'NEW_IMAGE_MANAGEMENT.FEATURED' | translate }}
                                                </mat-checkbox>
                                            </div>
                                            <!-- <input type="checkbox" formControlName="featured"> <label>{{ 'NEW_IMAGE_MANAGEMENT.FEATURED' | translate }}</label>  -->
                                        </div>
                                        <ng-container *ngFor="let lang_item of currentLangs">
                                            <!-- <div class="kt-form__heading mt-3">
                                            <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                                        </div> -->
                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <input matInput placeholder="{{ 'COMMON.FIELDS.TITLE' | translate }} {{lang_item.name}}" formControlName="title_{{lang_item.key}}" />
                                                    <mat-error>
                                                        <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                                <!-- </div>
                                                <div class="col-lg-4 kt-margin-bottom-20-mobile"> -->
                                                <div class="content-image-upload">
                                                    <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowser($event, lang_item.key, imgInfo.id)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                                        <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                                    </a>
                                                    <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="img_{{lang_item.key}}" id="img_{{imgInfo.id}}_{{lang_item.key}}" #img (change)="readFile($event, lang_item.key, imgInfo.id)" />
                                                    <div class="image-preview new d-inline-block" *ngIf="previewUrl[imgInfo.id][lang_item.key]">
                                                        <img [src]="previewUrl[imgInfo.id][lang_item.key]" width="300" />
                                                        <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrl(lang_item.key, imgInfo.id)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                                    </div>
                                                    <div class="image-preview  d-inline-block" *ngIf="!previewUrl[imgInfo.id][lang_item.key] && imgInfo.lang_info_array && imgInfo.lang_info_array[lang_item.key] && imgInfo.lang_info_array[lang_item.key].src">
                                                        <img [src]="baseUrl+'/'+imgInfo.lang_info_array[lang_item.key].src" width="300" />
                                                        <a href="javascript:;" class="btn-delete-img" (click)="deleteImg(lang_item.key, imgInfo.id)"><i class="la la-close"></i> {{'COMMON.BUTTONS.DELETE_FILE' | translate}}</a>
                                                    </div>
                                                    <span *ngIf="!previewUrl[imgInfo.id][lang_item.key] && (!imgInfo.lang_info_array || !imgInfo.lang_info_array[lang_item.key] || !imgInfo.lang_info_array[lang_item.key].src || imgInfo.lang_info_array[lang_item.key].src == '')">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span>
                                                </div>
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <input matInput type="number" placeholder="{{ 'COMMON.FIELDS.ORDER' | translate }} {{lang_item.name}}" formControlName="order_position_{{lang_item.key}}" />
                                                    <mat-error>
                                                        <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </ng-container>
                                        
                                        <a href="javascript:;" class="btn-delete-element" (click)="deleteElementImage(i, imgInfo.id)"><i class="la la-close"></i> {{'COMMON.BUTTONS.DELETE_ELEMENT' | translate}}</a>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>