<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="banner">
                        <form [formGroup]="bannerForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'SPONSOR_MANAGEMENT.ENTITY' | translate }}" formControlName="sponsor" [(value)]="sponsor_value">
                                                <mat-option *ngFor="let s of allSponsors" [value]="s.id">
                                                    {{s.lang_info_array.es.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="allPositions" class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'POSITION_MANAGEMENT.ENTITY' | translate }}" formControlName="position" [(value)]="position_value">
                                                <mat-option *ngFor="let p of allPositions" [value]="p.id">
                                                    {{p.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput [matDatepicker]="picker_date_start" placeholder="{{ 'COMMON.FIELDS.DATE_PUBLICATION' | translate }}" formControlName="date_start" [(value)]="newDateStart">
                                            <mat-datepicker-toggle matSuffix [for]="picker_date_start"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_date_start></mat-datepicker>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput [matDatepicker]="picker_date_end" placeholder="{{ 'COMMON.FIELDS.DATE_PUBLICATION' | translate }}" formControlName="date_end" [(value)]="newDateEnd">
                                            <mat-datepicker-toggle matSuffix [for]="picker_date_end"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_date_end></mat-datepicker>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <ng-container *ngFor="let lang_item of currentLangs">
                                    <div class="kt-form__heading mt-3">
                                        <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                                    </div>
                                    <div class="form-group kt-form__group row">
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput placeholder="{{ 'COMMON.FIELDS.NAME' | translate }}" formControlName="name_{{lang_item.key}}" />
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowser($event, lang_item.key)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                            </a>
                                            <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="img_{{lang_item.key}}" id="img_{{lang_item.key}}" #img (change)="readFile($event, lang_item.key)" />
                                            <div class="image-preview new d-inline-block" *ngIf="previewUrl[lang_item.key]">
                                                <img [src]="previewUrl[lang_item.key]" width="300" />
                                                <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrl(lang_item.key)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                            </div>
                                            <div class="image-preview  d-inline-block" *ngIf="!previewUrl && banner.lang_info_array && banner.lang_info_array[lang_item.key] && banner.lang_info_array[lang_item.key].img">
                                                <img [src]="baseUrl+'/'+banner.lang_info_array[lang_item.key].img" width="300" />
                                                <a href="javascript:;" class="btn-delete-img" (click)="deleteImg(lang_item.key)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                            </div>
                                            <span *ngIf="!previewUrl[lang_item.key] && (!banner.lang_info_array || !banner.lang_info_array[lang_item.key] || !banner.lang_info_array[lang_item.key].img)">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span>

                                        </div>
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput placeholder="{{ 'COMMON.FIELDS.URL' | translate }}" formControlName="url_{{lang_item.key}}" />
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>