<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="country">
                        <form [formGroup]="countryForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowser($event)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                            <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                        </a>
                                        <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="flag" id="flag" #img (change)="readFile($event)" />
                                        <div class="image-preview new d-inline-block" *ngIf="previewUrl">
                                            <img [src]="previewUrl" width="50" />
                                            <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrl()">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                        </div>
                                        <div class="image-preview  d-inline-block" *ngIf="!previewUrl && country.flag">
                                            <img [src]="baseUrl+'/'+country.flag" width="50" />
                                            <a href="javascript:;" class="btn-delete-img" (click)="deleteImg()">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                        </div>
                                        <span *ngIf="!previewUrl && (!country.flag)">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span>
        
                                    </div>
                                    <!--
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.NAME' | translate }}" formControlName="name" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    -->
                                </div>
                            </div>

                            <div class="kt-form__section kt-form__section--first">
                                <ng-container *ngFor="let lang_item of currentLangs">
                                    <div class="kt-form__heading mt-3">
                                        <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                                    </div>
                                    <div class="form-group kt-form__group row">
                                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput placeholder="{{ 'COMMON.FIELDS.NAME' | translate }}" formControlName="name_{{lang_item.key}}" />
                                                <mat-error>
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>