<div ngbDropdown placement="bottom-right" *ngIf="user$ | async as _user" class="kt-header__topbar-item kt-header__topbar-item--user">
    <div ngbDropdownToggle class="kt-header__topbar-wrapper">
        <div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}">
            <span class="kt-header__topbar-welcome kt-hidden-mobile" *ngIf="greeting" [translate]="'COMMON.HI'"></span>
            <span class="kt-header__topbar-username kt-hidden-mobile" *ngIf="greeting">{{_user.name}}</span>
            <i class="flaticon2-user-outline-symbol"></i>
            <span *ngIf="badge" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{_user.name|firstLetter}}</span>
        </div>
    </div>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
        <!--begin: Head -->
        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
            <div class="kt-user-card__avatar">
                <span [hidden]="true" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
					{{_user.name|firstLetter}}
				</span>
            </div>
            <div class="kt-user-card__name">
                {{_user.name}}
            </div>
            <!-- <div class="kt-user-card__badge">
                <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
            </div> -->
        </div>
        <!--end: Head -->

        <!--begin: Navigation -->
        <div class="kt-notification">

            <div class="kt-notification__custom">
                <a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">Sign Out</a>
            </div>
        </div>
        <!--end: Navigation -->

        <!--begin: Navigation(alternative) -->
        <ul class="kt-nav kt-margin-b-10 kt-hidden">
            <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
                <a (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">Sign Out</a>
            </li>
        </ul>
        <!--end: Navigation(alternative) -->
    </div>
</div>