// User permissions
.kt-timeline-3 {
    .kt-timeline-3__items--userPermissions {
        .kt-timeline-3__item {
            display: block !important;
            border-left: 0;
            margin-bottom: 0 !important;
            &-child {
                border-left: 0;
            }
            .kt-timeline-3__item-time {
                position: static !important;
            }
        }
    }
}

.kt-container {
    position: relative;
}

.hidden {
    display: none!important;
}

.btn-delete-img {}

@include kt-tablet-and-mobile {}