<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="team">
                        <form [formGroup]="teamForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.NO_CHANGES' | translate }}
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'COMMON.FIELDS.PLAYER' | translate }} 1" formControlName="player1" [(value)]="player1Id">
                                                <mat-option *ngFor="let p1 of allPlayers" [value]="p1.id" [disabled]="teamForm.controls['player2'] && teamForm.controls['player2'].value == p1.id">
                                                    {{p1.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="{{ 'COMMON.FIELDS.PLAYER' | translate }} 2" formControlName="player2" [(value)]="player2Id">
                                                <mat-option *ngFor="let p2 of allPlayers" [value]="p2.id" [disabled]="teamForm.controls['player1'].value == p2.id">
                                                    {{p2.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>