:host {
    .loading-block {
        position: absolute;
        top: -75px;
        left: 0;
        background: #fff;
        font-size: 3rem;
        width: 100%;
        height: 100vh;
        z-index: 111111;
        text-align: center;
        span {
            margin-top: 10%;
            width: 100%;
            display: inline-block;
        }
        img {
            display: inline-block;
        }
        mat-spinner {
            clear: both;
            display: inline-block;
        }
    }
}