<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.BACK' | translate }}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.BACK' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.RESET' | translate }}">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.RESET' | translate }}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SAVE' | translate }}</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i> {{ 'COMMON.TABS.INFO' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="user">
                        <form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                {{ 'COMMON.ERRORS.NO_CHANGES' | translate }}
                            </kt-alert>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.USERNAME' | translate }}" formControlName="username" />
                                            <mat-error>
                                                <span *ngIf="userForm.controls['username'].hasError('required')">
                                                    <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong></span>
                                                <span *ngIf="userForm.controls['username'].hasError('whitespace') || userForm.controls['username'].hasError('pattern')">{{ 'COMMON.ERRORS.USERNAME_FORMAT' | translate }}
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="email" matInput placeholder="{{ 'COMMON.FIELDS.EMAIL' | translate }}" formControlName="email" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.NAME' | translate }}" formControlName="name" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.LASTNAME1' | translate }}" formControlName="last_name1" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="{{ 'COMMON.FIELDS.LASTNAME2' | translate }}" formControlName="last_name2" />
                                            <mat-error>
                                                <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>

            </mat-tab>
            <!--mat-tab *ngIf="user" [disabled]="!user || !user.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-unlock"></i> User roles
                </ng-template>
                <ng-template matTabContent>
                    <kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list>
                </ng-template>
            </mat-tab-->
            <mat-tab *ngIf="user && user.id" [disabled]="!user || !user.id">
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-exchange-alt"></i> {{ 'COMMON.TABS.CHANGE_PASSWORD' | translate }}
                </ng-template>
                <ng-template matTabContent>
                    <kt-change-password [userId]="user.id"></kt-change-password>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>