<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
        </div>
    </div>
    <div>
        <div class="kt-form">
            <div class="kt-portlet__body">

                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>


                <form [formGroup]="newImageForm" class="kt-form kt-form--group-seperator-dashed">
                    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                        {{ 'COMMON.ERRORS.FORM_ERROR' | translate }}
                    </kt-alert>

                    <div class="kt-form__section kt-form__section--first">
                        <ng-container *ngFor="let lang_item of currentLangs">
                            <div class="kt-form__heading mt-3">
                                <h3 class="kt-form__heading-title">{{lang_item.name}}:</h3>
                            </div>
                            <div class="form-group kt-form__group row">
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="{{ 'COMMON.FIELDS.TITLE' | translate }}" formControlName="title_{{lang_item.key}}" />
                                        <mat-error>
                                            <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="{{ 'COMMON.FIELDS.URL' | translate }}" formControlName="img_{{lang_item.key}}" />
                                        <mat-error>
                                            <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <a href="javascript:;" class="btn btn-primary kt-margin-r-10 mb-3 float-left" color="primary" (click)="openBrowserSingle($event, lang_item.key)" mat-raised-button matTooltip="{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}">
                                        <span class="kt-hidden-mobile">{{ 'COMMON.BUTTONS.SELECT_FILE' | translate }}</span>
                                    </a>
                                    <input class="btn btn-primary d-none" type="file" placeholder="{{ 'COMMON.FIELDS.IMAGE' | translate }}" formControlName="img_{{lang_item.key}}" id="img_new_{{lang_item.key}}" #img (change)="readFileSingle($event, lang_item.key)" />
                                    <div class="image-preview new d-inline-block" *ngIf="previewUrl[lang_item.key]">
                                        <img [src]="previewUrl[lang_item.key]" width="300" />
                                        <a href="javascript:;" class="btn-delete-img" (click)="deletePreviewUrlSingle(lang_item.key)">{{'COMMON.BUTTONS.DELETE_FILE' | translate}}<i class="la la-close"></i></a>
                                    </div>
                                    <!-- <span *ngIf="!previewUrl[lang_item.key]">{{ 'COMMON.MESSAGES.NO_IMAGE' | translate }}</span> -->
                                </div>
                                <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput type="number" placeholder="{{ 'COMMON.FIELDS.ORDER' | translate }}" formControlName="order_position_{{lang_item.key}}" />
                                        <mat-error>
                                            <strong>{{ 'COMMON.ERRORS.REQUIRED' | translate }}</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
            <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="{{ 'COMMON.BUTTONS.CANCEL' | translate }}">
                                {{ 'COMMON.BUTTONS.CANCEL' | translate }}
                            </button>&nbsp;
                            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="{{ 'COMMON.BUTTONS.SAVE' | translate }}">
                                {{ 'COMMON.BUTTONS.SAVE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>